body {
  margin: 0;
}

.square{
  width: 500px;
  height: 500px;
  
  background-color: rgb(171, 133, 199);
}

.App{
  margin: 50px 40px;
  
}
.form--buttons-box{
  display: block;
  margin-top: 40px;
}
.form--buttons{
  width: 100px;
  height: 50px;
  margin-right: 20px;
}

.form--input-box{
  border: 1px solid black;
  width: fit-content;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
}

.form--input-box > p{
  margin: 0;
  text-align: center;
}

.form--input{
  margin-right: 15px;
}